* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  padding: 1.5rem;
}
.parent {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.child1 {
  width: 59%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px 0px;
}
.child2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 39%;
  padding: 0px 7px;
}
.child1 > img {
  width: 100%;
  height: 500px;
  border-radius: 50px;
  object-fit: cover;
}
.bottomImagesFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px 10px;
  width: 100%;
}
.bottomImagesFlex > div > img {
  width: 100%;
  height: 5rem;
  border-radius: 25px;
  display: block;
}
.child2 > div {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.child2 > div > h3 {
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: capitalize;
}
.child2 > div > p {
  text-transform: capitalize;
}
.playButton {
  display: block;
  margin: auto;
  width: 99px;
  height: 99px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  background: #25beda 0% 0% no-repeat padding-box;
}

.black {
  filter: grayscale(100);
}
.normal {
  filter: grayscale(0);
}

@media screen and (max-width: 767px) {
  .parent {
    width: 100%;
    flex-direction: column;
  }
  .child1 {
    width: 100%;
  }
  .child1 > img {
    width: 100%;
    height: 25rem;
  }
  .leftArror {
    margin-right: -30px;
    margin-left: -20px;
  }
  .rightArror {
    margin-left: -30px;
  }
  .bottomImagesFlex {
    gap: 5px;
  }
  .bottomImagesFlex > div > img {
    width: 90%;
    height: 5rem;
    border-radius: 25px;
  }
  .child2 {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .bottomImagesFlex > div > img {
    width: 3rem;
    height: 4rem;
    border-radius: 25px;
  }
  .playButton {
    width: 60px;
    height: 60px;
  }
  .buttonText {
    font-size: 2rem;
  }
}

@media screen and (max-width: 992px) {
}
